.venv
dist
.idea
.git
.github
.vscode
.pnpm-store
bin
build
node_modules
frontend/node_modules
frontend/dist
fan-files
fan-files.exe
filebrowser.db
docs/index.md
*.delta
CHANGELOG.md
docker-compose.yaml
docker-compose.yml
Taskfile.yml
transifex.yml